{
  "presets": [
    [
      "babel-preset-jam",
      {
        "targets": {
          "node": "6"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}
